@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<style>
    .col-md-3 {
        padding-left: 3em;
    }
    
    .col-md-9 {
        padding-left: 14em;
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 2.5vh;
        font-size: 1.5vmin;
    }

</style>

<div style="min-height: 100vh;">
    <h1 style="margin-left: 0.8em; margin-top: 1em;">Manage your account</h1>
    <h2 style="margin-left: 1em;">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
