@using Microsoft.AspNetCore.Identity
@using BITS.Areas.Identity.Data
@inject SignInManager<BITSUser> SignInManager
@inject UserManager<BITSUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            @* <li class="nav-item">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Role: Admin</a>
            </li> *@
        }
        @if (User.IsInRole("Customer"))
        {
            @* <li class="nav-item">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Role: Customer</a>
            </li> *@

            <li class="nav-item">
                <a class="circleButtons" asp-area="" asp-controller="Carts" asp-action="Index" style=" margin-right: 1.5em;">
                    <img src="~/images/shopping-cart.png" alt="cart" style="width: 24px; height: auto;" />
                </a>
            </li>
        }
        @if (User.IsInRole("Employee"))
        {
            @* <li class="nav-item">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Role: Employee</a>
            </li> *@
        }

        @* <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li> *@

        <li class="nav-item dropdown">
            <a id="accountDropdown" class="circleButtons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 8.8em;">
                <img src="~/images/user.png" alt="cart" style="width: 24px; height: auto;" />
            </a>

            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account Settings</a>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                </form>
            </div>
        </li>

        @* <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
            </form>
        </li> *@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
