body {
    background-color: #161616;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

input[type=reset],
input[type=submit],
button{
    cursor: pointer;
}

#header {
    background-color: #2A2A2A;
    font-size: large;
    font-weight: bold;
}

#header .navSearchbar {
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5em;
    margin-right: 5em;
    background-color: transparent;
    color: white;
    width: 300px;
}

#header .nav-link {
    margin-left: 1em;
    margin-right: 1em;
}

#header .circleButtons {
    background-color: #676666;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    background-color: #676666;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: blue;
    background-color: #676666;
    border-color: transparent;
}

.dropdown-menu .form-inline .btn-link {
    color: white;
}

.dropdown-menu .form-inline .btn-link:hover {
    color: blue;
    background-color: #676666;
}

#footer {
    border-top: 1px solid white;
    text-align: center;
}

.search-button svg{
    position: relative;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
}