body {
    background-color: #161616;
    color: white;
}

button {
    color: white;
}

a {
    all: unset;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#BITS-footer {
    width: 100%;
    height: 2.5em;
    text-align: center;
}
