@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
    .message_container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        min-height: 100vh;
        font-size: 20px;
        
    }

    .message_section {
        width: 70%;
        height: 40%;
        padding: 30px;
        border-radius: 8px;
        background-color: rgba(62, 62, 62, 0.8);
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 2.5vh;
        font-size: 1.5vmin;
    }
</style>
<div class="message_container">
    <div class="message_section">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>