@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .center-container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        min-height: 100vh;
    }

    .forgot-password-section {
        width: 70%;
        height: 40%;
        padding: 30px;
        border-radius: 8px;
        background-color: rgba(62, 62, 62, 0.8);
    }

    .center-header {
        text-align: center;
        font-weight: bold;
    }

    .submit-btn {
        margin-top: 30px;
    }

    #footer {
        border-top: 1px solid white;
        text-align: center;
        bottom: 0;
        width: 100%;
        margin-bottom: 2em;
        padding-top: 2em;
</style>
<div class="center-container">
    <div class="forgot-password-section">
        <form method="post">
            <div class="center-header"><h1>@ViewData["Title"]</h1></div>
            <h2>Enter your email.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary submit-btn">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
