@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .center-container {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        min-height: 90vh;
    }

    .register-section {
        width: 30%;
        padding: 30px;
        border-radius: 8px;
        background-color: rgba(62, 62, 62, 0.8);
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .mb-3{
        transform: translateY(-20px);
    }

    .center-header {
        text-align: center;
        font-weight: 500;
    }

    .logo {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        margin-bottom: 10px;
    }

    #footer {
        bottom: 0;
        width: 100%;
        margin-top: 3em;
    }
</style>

<div class="center-container">
    <div class="register-section">
        <div class="logo">
            <img src="~/images/BITSLogo.png" alt="BITS" style="width: 75px;" />
        </div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="center-header"><h2>@ViewData["Title"]</h2></div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Username">Username</label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter your password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary submit-btn">Register</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
